.jobDescriptionContainer {
  background: white;
  padding: 32px;
  border-radius: 12px;
  color: #1d3557;
  overflow: scroll;
}

.jobDescriptionContainer h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.companyLogo {
  position: relative;
  height: 32px;
  width: 32px;
}

.companyDetails {
  margin-bottom: 16px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
}

.roleType {
  margin-bottom: 16px;
}

.location {
  margin-bottom: 16px;
}

.applyBtn {
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
}

.applyBtn button {
  padding: 12px 32px;
  cursor: pointer;
  color: white;
  background: #457b9d;
  border: 1px solid #1d3557;
  margin-top: 8px;
  border-radius: 12px;
  font-weight: 500;
}

.applyBtn button:hover {
  background: #a8dadc;
  color: #1d3557;
  font-weight: 600;
}

.descriptionContainer h3 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 600;
}

.description {
  line-height: 1.5;
}
